Repository NetsBlox/NetsBlox, pull requests merged in 2021-07, with the labels that each got.

#3169 Add New York Times service. Closes #3168
  src/server/services/procedures/new-york-times/README.md
  src/server/services/procedures/new-york-times/best-seller-list-names.json
  src/server/services/procedures/new-york-times/data-prep.js
  src/server/services/procedures/new-york-times/new-york-times.js
  src/server/services/procedures/new-york-times/types.js
  src/server/services/procedures/utils/api-key.js
  test/unit/server/services/procedures/new-york-times.spec.js
Labels: enhancement, services

#3175 Convert section code to name and resolve aliases. Fixes #3174
  src/server/services/procedures/new-york-times/data-prep.js
  src/server/services/procedures/new-york-times/new-york-times.js
  src/server/services/procedures/new-york-times/types.js
Labels: bug, minor, services

#3178 Set minimum zoom to 1 in GoogleMaps. Close #3177
  src/server/services/procedures/google-maps/google-maps.js
Labels: enhancement, services

#3114 Add Alexa service for skill creation. Closes #2934
  package-lock.json
  package.json
  src/server/api/rest/oauth/index.js
  src/server/services/api.js
  src/server/services/index.js
  src/server/services/procedures/alexa/alexa.js
  src/server/services/procedures/alexa/docs/create_skill.png
  src/server/services/procedures/alexa/docs/custom_intent.png
  src/server/services/procedures/alexa/docs/first-steps.rst
  src/server/services/procedures/alexa/docs/index.rst
  src/server/services/procedures/alexa/docs/invoke_skill_stop.png
  src/server/services/procedures/alexa/docs/set_intents.png
  src/server/services/procedures/alexa/docs/skill_config.png
  src/server/services/procedures/alexa/docs/stop_intent.png
  src/server/services/procedures/alexa/helpers.js
  src/server/services/procedures/alexa/login.html.ejs
  src/server/services/procedures/alexa/routes.js
  src/server/services/procedures/alexa/schemas.js
  src/server/services/procedures/alexa/skill.js
  src/server/services/procedures/alexa/storage.js
  src/server/services/procedures/alexa/types.js
  src/server/services/procedures/utils/router-utils.js
  test/unit/server/services/procedures/alexa/alexa.spec.js
  test/unit/server/services/procedures/alexa/helpers.spec.js
Labels: enhancement, services

#3194 Don't follow redirects when proxying requests to the services. Fix #3193
  src/server/server.js
Labels: bug

#3196 Use the correct URL when redirecting after successful login. Fix #3195
  src/server/services/procedures/alexa/routes.js
Labels: bug, services

#3199 Dont double parse body. Add logs. Fixes #3198
  src/server/services/procedures/alexa/routes.js
Labels: bug

#3201 Add default StopIntent if none is defined. Closes #3200
  src/server/services/procedures/alexa/schemas.js
Labels: enhancement, services

#3203 Better Twitter service description
  src/server/services/procedures/twitter/twitter.js
Labels: rpc

#3216 Ensure headers are set when proxying reqs to RPCs. Fixes #3215
  src/server/server.js
Labels: bug, major

#3218 Register expressions with snap2js. Fixes #3217
  src/server/services/blocks2js.js
Labels: bug
